body {
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background: #28aee6;
  color: #253238;
}
footer {
  padding: 24px;
  text-align: center;
  background: #e8edf4;
  font-size: 0.9rem;
}
.first-title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 80px;
  margin-bottom: 20px;
  color: darkblue;
  font-size: xxx-large;
  padding: 20px;
  border-radius: 10px;
}
.grila-sectiuni{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 20px;
  padding: 20px;
}

section {
  background-color: var(--culoare-background,green);
  border-radius: 12px;
  padding-top: 10px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 25px;
  margin-bottom: 24px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}
.buton-rezervare{
  background: cornflowerblue;
  text-align: right;
  border-radius: 10px;
  padding: 8px;
  display: block;
  margin-left: auto;
}

buton-culoare-rosie {
  --culoare-background: red;
  color: white;
}
buton-culoare-rezervat{
  --culoare-background: blueviolet;
  color: white;
}